
  
    h1 {
         text-align: center;
		 text-color: 
		
    }
     .navbar {
       position: fixed-top;
       min-height: 75px;
       margin-bottom: 0px;
       border: 2px solid transparent;
     }
	 .firstimg{
	  width:50%;
	  position:relative;
	  top:0;
	  left:0;
	  overflow:hidden;
	  
	 }
	 .secondimg{
	  width:60%;
	  position:absolute;
	  top:0;
	  left:0;
	 }
	 .secondimg:hover{
	  -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform:scale(1.5); /* Safari */
      transform:scale(1.5)); /* Standard syntax */
		 
	 }
	 
	 div.polaroid {
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
     }

     #cont{
       text-align: center;
       padding: 10px 20px;
     }
	 .container{
        position: relative;
        width: 100%;
	 }	

		 
	 
	 
	 .parrallex{
		   background:url('images/intro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:500px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax {
        background-attachment: scroll;
      }
	 }
	 .parrallex1{
		   background:url('images/intro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:500px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax1 {
        background-attachment: scroll;
      }
	 }
	 .parrallex3{
		   background:url('images/intro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:400px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax1 {
        background-attachment: scroll;
      }
	 }
	 
	 

